<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>@ViewBag.Title - 旅行必备神器</title>
    <link href="/Content/images/favicon-32x32.ico" sizes="32x32" rel="icon" type="image/x-icon" />
    <link href="/Content/images/favicon-16x16.ico" sizes="16x16" rel="icon" type="image/x-icon" />
        @Styles.Render("~/Content/css/get")
</head>
<body>

        @RenderBody()
    @Scripts.Render("~/Content/js/get")
    <div style="display:none">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1260647410'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260647410%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</body>
</html>
