@charset "utf-8";
/* CSS Document */
@font-face {font-family: 'HELVETICANEUELTPRO-THEX';src: url('fonts/HELVETICANEUELTPRO-THEX.OTF');font-weight: normal;font-style: normal;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,div{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei",tahoma,arial,\5B8B\4F53;outline:none}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
ul,ol{list-style:none outside none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#ffffff;}
fieldset,img{border:0 none;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
body{background-color:#ffffff;overflow-x:hidden}


.fl{float:left}.fr{float:right}
.mbox{width:1200px;margin:0 auto;}

.header{position:relative;height:58px;width:100%;background-color:#232323;z-index:99}
.header .logo{width:150px;height:58px;float:left;transition: all ease .3s;}
.header .logo img{height:100%;}
.header .nav{height:58px;float:left;margin-left:80px;}
.header .nav ul{height:100%;}
.header .nav ul li{float:left;height:58px;width:95px;line-height:50px;text-align:center}
.header .nav ul li a{height:58px;width:76px;display:inline-block;color:#ffffff;font-size:14px;line-height:58px;}
.header .nav ul li a.active{color:#949695;}
.header .nav ul li a:hover{text-decoration:none;}
.header .language{float:right;margin-top:9px;line-height:41px;height:41px;}
.header .language a{margin:0 15px;color:#ffffff;font-size:16px;}
.header .language a:hover{text-decoration:none}
.header .product_second{width:100%;height:145px;background-color:#ffffff;position:absolute;top:58px;left:0px;display:none}
.header .product_second ul{margin:24px 0 0 233px}
.header .product_second ul li{float:left;width:88px;height:107px;margin-right:84px;font-size:12px;text-align:center}
.header .product_second ul li a{color:#000000}
.header .product_second ul li a:hover{text-decoration:none}
.home{position:relative;}
.banner{height:785px;width:100%;position:relative;background-color:#000}
.banner .item{position:absolute;left:50%;top:0px;margin-left:-960px;}

.function{padding:76px 0 0;background-color:#f5f5f5;height:279px;}
.function .title{text-align:center;font-size:28px;color:#000000;}
.function .fct_list{width:970px;margin:60px auto 0}
.function .fct_list ul{width:1092px;overflow:hidden}
.function ul li{float:left;width:182px;height:100px;}
.function ul li .item1{background:url(../images/sprite_img.png) no-repeat -44px -27px;width:61px;height:60px;}
.function ul li .item2{background:url(../images/sprite_img.png) no-repeat -225px -27px;width:61px;height:60px;}
.function ul li .item3{background:url(../images/sprite_img.png) no-repeat -407px -27px;width:61px;height:60px;}
.function ul li .item4{background:url(../images/sprite_img.png) no-repeat -588px -27px;width:61px;height:60px;}
.function ul li .item5{background:url(../images/sprite_img.png) no-repeat -768px -27px;width:61px;height:60px;}
.function ul li .item6{background:url(../images/sprite_img.png) no-repeat -949px -27px;width:61px;height:60px;}
.function ul li p{color:#333333;font-size:14px;margin-bottom:20px;}

.footer{height:273px;width:100%;padding-top:60px;}
.footer .gnqy{height:239px;}
.footer .gnqy li,.footer .gnqy li a{color:#666666;font-size:14px;height:24px;}

.footer .gnqy li h6{color:#333333;font-weight:bold}
.footer .gnqy .item1{width:168px;float:left}
.footer .gnqy .item2{width:180px;float:left}
.footer .gnqy .item3{width:480px;float:left}
.footer .gnqy .item4{width:243px;float:left}
.footer .gnqy .item4 p{width:92px;float:left;font-size:14px;color:#333333;text-align:center;margin-right:25px;}
.footer .gnqy .item4 p img{margin-bottom:5px;}
.footer .gnqy .item5{width:128px;float:left}
.footer .gnqy .item5 a{width:126px;height:30px;background-image:url(../images/sprite_img.png);margin-bottom:10px;display:block;}
.footer .gnqy .item5 a.btn_android_down{background-position:-24px -150px;}
.footer .gnqy .item5 a.btn_ios_down{background-position:-24px -112px;}
.footer .gnqy .item5 a.btn_qq{background-position:-24px -188px;}
.footer .copyright{background-color:#000000;text-align:center;color:#ffffff;font-size:12px;height:34px;line-height:34px;position:relative}
.footer .copyright p.sharebox{position:absolute;right:35px;top:8px;}
.footer .copyright p.sharebox a{width:18px;height:18px;float:left;margin-right:10px;background:url(../images/sprite_img.png);}
.footer .copyright p.sharebox .btn_share_weibo{background-position:-182px -112px;}
.footer .copyright p.sharebox .btn_share_tw{background-position:-211px -112px;}
.footer .copyright p.sharebox .btn_share_fb{background-position:-239px -112px;}

.spage_banner{height:756px;width:100%;position:relative;background-color:#000}
.spage_banner .item{position:absolute;left:50%;top:0px;margin-left:-960px;}

/** 解决方案 **/
.solution .fuwubox{padding:60px 0;overflow:hidden}
.solution .fuwubox li{float:left;margin-right:7px;}
.solution .industry .title_line{width:100%;height:120px;background-color:#f5f5f5;margin-bottom:72px;text-align:center;box-sizing:border-box;padding:28px;}
.solution .industry .title_line h3{font-size:28px;font-weight: normal;}
.solution .industry .title_line p{font-size:14px;color:#999999;}
.solution .industry .industry_fun{overflow:hidden}
.solution .industry .industry_fun li{float:left;margin:0 7px 16px 0;}
.solution .partner .title_line{width:100%;height:120px;background-color:#f5f5f5;margin:44px 0;text-align:center;box-sizing:border-box;padding:28px;}
.solution .partner .title_line h3{font-size:28px;font-weight: normal;}
.solution .partner .title_line p{font-size:14px;color:#999999;}
.solution .partner .mbox{height:429px;border:solid 1px #e5e5e5;box-sizing:border-box;padding:7px;}

/** 商务合作 **/
.company_banner{height:391px;width:100%;position:relative;background-color:#000}
.company_banner .item{position:absolute;left:50%;top:0px;margin-left:-960px;}
.business{background-color:#f5f5f5;overflow:hidden}
.business .content{background-color:#fff;padding:43px;box-sizing:border-box;margin-bottom:20px;}
.business .content .p_nav{border-bottom:solid 1px #f5f5f5;overflow:hidden;width:100%;height:32px;}
.business .content .p_nav li{width:66px;float:left;margin-right:35px;}
.business .content .p_nav li a{color:#333333;font-size:16px;height:31px;display:block}
.business .content .p_nav li a:hover{text-decoration:none;}
.business .content .p_nav li a.cur{border-bottom:solid 1px #01acec;color:#01acec}
.business .content .address_pic{margin:25px 0;}
.business .content .contact_desc{font-size:16px;color:#333333}

/** 加入我们 **/
.join_main{background-color:#f5f5f5;overflow:hidden}
.join_main .content{background-color:#fff;padding:43px;box-sizing:border-box;margin-bottom:20px;}
.join_main .content .p_nav{border-bottom:solid 1px #f5f5f5;overflow:hidden;width:100%;height:32px;}
.join_main .content .p_nav li{width:66px;float:left;margin-right:35px;}
.join_main .content .p_nav li a{color:#333333;font-size:16px;height:31px;display:block}
.join_main .content .p_nav li a:hover{text-decoration:none;}
.join_main .content .p_nav li a.cur{border-bottom:solid 1px #01acec;color:#01acec}
.join_main .content .job_desc{margin-top:30px;}
.join_main .content .job_desc li{font-size:14px;color:#222222;line-height:25px;border-bottom:dashed 1px #e5e5e5;padding-bottom:20px;margin-top:10px;}
.join_main .content .job_desc h5{font-size:16px;color:#000000}

/** 关于我们 **/
.about_main{background-color:#f5f5f5;overflow:hidden}
.about_main .content{background-color:#fff;padding:43px;box-sizing:border-box;margin-bottom:20px;}
.about_main .content .p_nav{border-bottom:solid 1px #f5f5f5;overflow:hidden;width:100%;height:32px;}
.about_main .content .p_nav li{width:66px;float:left;margin-right:35px;}
.about_main .content .p_nav li a{color:#333333;font-size:16px;height:31px;display:block}
.about_main .content .p_nav li a:hover{text-decoration:none;}
.about_main .content .p_nav li a.cur{border-bottom:solid 1px #01acec;color:#01acec}
.about_main .content .about_desc{margin-top:30px;}
.about_main .content .about_desc h5{font-size:14px;color:#000000;margin:40px 0 20px;}
.about_main .content .about_desc p{font-size:16px;color:#222222;line-height:26px;}


/** 服务与支持 **/
.service_banner{height:577px;width:100%;position:relative;background-color:#000}
.service_banner .item{position:absolute;left:50%;top:0px;margin-left:-960px;}
.service_page{background-color:#f5f5f5;overflow:hidden}
.service_page .content{background-color:#fff;padding:20px 43px 43px;box-sizing:border-box;margin-bottom:20px;}
.service_page .content .p_nav{border-bottom:solid 1px #f5f5f5;overflow:hidden;width:100%;height:32px;}
.service_page .content .p_nav li{width:66px;float:left;margin-right:35px;}
.service_page .content .p_nav li a{color:#333333;font-size:16px;height:31px;display:block}
.service_page .content .p_nav li a:hover{text-decoration:none;}
.service_page .content .p_nav li a.cur{border-bottom:solid 1px #01acec;color:#01acec}
.service_page .content .service_desc{margin-top:30px;font-size:16px;line-height:30px;}
.service_page .content .service_desc h5{font-size:14px;color:#000000;margin:40px 0 20px;}


/** 新闻中心 **/
.news_main{background-color:#ffffff;overflow:hidden}
.news_main .leftbox{box-sizing:border-box;width:840px;float:left;}
.news_main .leftbox .p_nav{border-bottom:solid 1px #f5f5f5;overflow:hidden;width:100%;height:32px;margin-top:38px;}
.news_main .leftbox .p_nav li{width:66px;float:left;margin-right:35px;}
.news_main .leftbox .p_nav li a{color:#333333;font-size:16px;height:31px;display:block}
.news_main .leftbox .p_nav li a:hover{text-decoration:none;}
.news_main .leftbox .p_nav li a.cur{border-bottom:solid 1px #01acec;color:#01acec}
.news_main .leftbox .top_news{margin:29px 0}
.news_main .leftbox .top_news .newsbox .desc span{float:right;}
.news_main .leftbox .newsbox{width:100%;}
.news_main .leftbox .newsbox .desc{padding:10px 0;font-size:16px;color:#000000;}
.news_main .leftbox .newsbox .desc span{display:block;color:#999999;font-size:14px;}
.news_main .leftbox .news_list ul{width:846px;}
.news_main .leftbox .news_list li{float:left;width:414px;margin-right:9px;}
.news_main .rightbox{width:307px;float:right;padding-top:70px;}
.news_main .rightbox .dy_weixin{width:100%;background-color:#f5f5f5;box-sizing:border-box;padding:30px;margin-bottom:2px;}
.news_main .rightbox .dy_weixin h5{font-size:16px;color:#000000;}
.news_main .rightbox .dy_weixin .tips{color:#999999;font-size:12px;line-height:30px;}
.news_main .rightbox .dy_weixin .pic{text-align:center;width:107px;height:107px;padding:9px;background-color:#ffffff;margin:20px auto 0}
.news_main .rightbox .dy_weixin .pic img{width:100%;height:100%;}

.news_main .rightbox .dy_email{width:100%;background-color:#f5f5f5;box-sizing:border-box;padding:30px;margin-bottom:2px;}
.news_main .rightbox .dy_email h5{font-size:16px;color:#000000;}
.news_main .rightbox .dy_email .tips{color:#999999;font-size:12px;line-height:30px;}
.news_main .rightbox .dy_email .form{width:248px;margin:20px auto 0}
.news_main .rightbox .dy_email .form input{width:100%;height:46px;line-height:46px;padding-left:5px;background-color:#ffffff;border-radius:3px;border:0px;margin-bottom:10px;}
.news_main .rightbox .dy_email .form a{width:100%;height:46px;background-color:#232323;text-align:center;line-height:46px;color:#ffffff;border:none;display:block;border-radius:3px;margin-top:7px;}

.news_main .rightbox .dy_shejiao{width:100%;background-color:#f5f5f5;box-sizing:border-box;padding:30px;margin-bottom:2px;}
.news_main .rightbox .dy_shejiao h5{font-size:16px;color:#000000;}
.news_main .rightbox .dy_shejiao .tips{color:#999999;font-size:12px;line-height:30px;}
.news_main .rightbox .dy_shejiao .btnp{width:248px;margin:20px auto 0}
.news_main .rightbox .dy_shejiao .btnp a{background:url(../images/sprite_img.png);color:#000000;display:block;padding-left:28px;}
.news_main .rightbox .dy_shejiao .btnp a.btn_weibo{background-position:-571px -114px;}
.news_main .rightbox .dy_shejiao .btnp a.btn_facebook{background-position:-572px -141px;}

.news_main .news_detail .n_title{color:#222222;font-size:28px;margin:40px 0;}
.news_main .news_detail .n_title span{font-size:12px;color:#999999;display:block}


@media screen and (max-height: 830px){
	
}
@media screen and (max-height: 730px){
	
}

