@{
    ViewBag.Title = "解决方案";
}
<div class="spage_banner">
    <div class="item"><img src="/Content/images/solution_banner.jpg" /></div>
</div>
<div class="solution">
    <div class="mbox">
        <div class="fuwubox">
            <ul>
                <li>
                    <img src="/Content/images/solution_fuwu1.jpg" />
                </li>
                <li>
                    <img src="/Content/images/solution_fuwu2.jpg" />
                </li>
                <li>
                    <img src="/Content/images/solution_fuwu3.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="industry">
        <div class="title_line">
            <h3>涵盖行业领域</h3>
            <p>Industry program</p>
        </div>
        <div class="industry_fun mbox">
            <ul>
                <li>
                    <p class="pic"><img src="/Content/images/solution_industry1.jpg" /></p>
                    <p class="title">
                        <span>公共交通</span><br />
                        无限制的设备形态，一卡通全国。
                    </p>
                    <p class="desc">通过不同形态的设备搭载NFC芯片， 告别单一传统的卡片式公交出行，无需办理各地多张卡片， 一个设备即能接入全国公共交通系统，节省排队购票的时间，为用户出行提供便捷。</p>
                </li>
                <li>
                    <p class="pic"><img src="/Content/images/solution_industry2.jpg" /></p>
                    <p class="title">
                        <span>旅游行业</span><br />
                        尽情刷图视频  尽享无限流量
                    </p>
                    <p class="desc">通过定制出行神器和流量卡，不需要另外购买高昂的当地运营卡片，给予游客最佳的海外旅行体验，70多国无限流量任选，到哪都能上网，即使上传图片视频，还支持免漫游接打电话。</p>
                </li>
                <li>
                    <p class="pic"><img src="/Content/images/solution_industry3.jpg" /></p>
                    <p class="title">
                        <span>珠宝行业</span><br />
                        新潮智能穿戴  重新定义珠宝
                    </p>
                    <p class="desc">让珠宝不只是装饰，让穿戴设备不再古板，通过搭载智能模块，打造时尚科技新珠宝，追踪日常运动指数，实现小额支付或双卡双待的功能，24小时佩戴无压力，不再是冰冷单一的贵金属和宝石。</p>
                </li>
                <li>
                    <p class="pic"><img src="/Content/images/solution_industry4.jpg" /></p>
                    <p class="title">
                        <span>运营商</span><br />
                        开启多卡便捷新生活
                    </p>
                    <p class="desc">通过搭载SIM卡模块读取手机卡在网信息、蓝牙模块实现设备与手机间的通讯，搭配服务器以及加密网络让单卡手机实现双卡双待，设备的形态可以做到硬币大小，用户无需再购买一个手机即能实现双卡双待。</p>
                </li>
                <li>
                    <p class="pic"><img src="/Content/images/solution_industry5.jpg" /></p>
                    <p class="title">
                        <span>车联网行业</span><br />
                        开启多平台的资源共享共赢
                    </p>
                    <p class="desc">整合打车软件、广告公司、运营商、商圈商户、司机等多方资源，通过智能云技术，为每个起始点位置的司机及乘客精准推送商圈周边商户产品及服务信息，为商户引流，带动商圈服务消费，并为司机及乘客提供定向流量，从而实现多方共赢。</p>
                </li>
                <li>
                    <p class="pic"><img src="/Content/images/solution_industry6.jpg" /></p>
                    <p class="title">
                        <span>航空航海业</span><br />
                        免漫通讯时代  告别失联状态
                    </p>
                    <p class="desc">通过定制设备，可以为国际航班的空乘人员及优质海外出行客户提供免漫通讯设备和流量卡，实现在国外与国内号码互通电话无漫游，只按正常国内套餐标准计费，轻松解决出境通讯费用高昂的问题。</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="partner">
        <div class="title_line">
            <h3>合作伙伴</h3>
            <p>Partner</p>
        </div>
        <div class="mbox">
            <img src="/Content/images/solution_partner.jpg" />
        </div>
    </div>
</div>