@{
    ViewBag.Title = "解决方案";
}
<div class="spage_banner">
    <div class="item"><img src="/Content/images/solution_banner.jpg" /></div>
</div>
<div class="solution">
    <div class="mbox">
        <div class="fuwubox">
            <ul>
                <li>
                    <img src="/Content/images/solution_fuwu1.jpg" />
                </li>
                <li>
                    <img src="/Content/images/solution_fuwu2.jpg" />
                </li>
                <li>
                    <img src="/Content/images/solution_fuwu3.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="industry">
        <div class="title_line">
            <h3>涵盖行业领域</h3>
            <p>Industry program</p>
        </div>
        <div class="industry_fun mbox">
            <ul>
                <li>
                    <img src="/Content/images/solution_industry1.jpg" />
                </li>
                <li>
                    <img src="/Content/images/solution_industry2.jpg" />
                </li>
                <li>
                    <img src="/Content/images/solution_industry3.jpg" />
                </li>
                <li>
                    <img src="/Content/images/solution_industry4.jpg" />
                </li>
                <li>
                    <img src="/Content/images/solution_industry5.jpg" />
                </li>
                <li>
                    <img src="/Content/images/solution_industry6.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="partner">
        <div class="title_line">
            <h3>合作伙伴</h3>
            <p>Partner</p>
        </div>
        <div class="mbox">
            <img src="/Content/images/solution_partner.jpg" />
        </div>
    </div>
</div>