@{
    ViewBag.Title = "Unitoys";
}

<div class="header">
    <div class="logo"><img src="/Content/en/images/logo.png" /></div>
    <div class="nav">
        <ul>                                  
            <li class="item1"><a class="active" href="javascript:;" data-page="page1" title="Product features">Product features</a></li>
            <li class="item2"><a href="javascript:;" data-page="page5" title="Instructions">Instructions</a></li>
            <li class="item3"><a href="javascript:;" data-page="page6" title="Packages">Packages</a></li>
            <li class="item4"><a href="javascript:;" data-page="page7" title="APP Download">APP Download</a></li>
            <li class="item5"><a href="javascript:;" data-page="page8" title=" Common problem"> Common problem</a></li>
            <li class="item6"><a href="javascript:;" data-page="page9" title="Contact us">Contact us</a></li>
            <li class="item7"><a href="javascript:;" title="">|</a></li>
            <li class="item8"><a href="/" title="中文">中文</a></li>
        </ul>
    </div>
</div>
<div class="home">
    <div class="page1">
        <div class="titlebox" data-0="transform: translateY(0px);opacity: 1" data-700="transform: translateY(560px);opacity: 0">
            <div class="text wow bounceIn">
                <img src="/Content/en/images/page1_title1.png" />
            </div>
            <div class="text_num wow bounceInDown">
                <img src="/Content/en/images/page1_title2.png" />
            </div>
            <div class="tips wow bounceIn">
                Recharge, purchase and activate the packages with the App,it’s <br />convenient and flexible, the balance will never expire<br />
                <a href="javascript:;" class="link_buy" style="display:none">Buy Now》</a>
            </div>
        </div>

    </div>
    <div class="page2">
        <div class="title1 wow slideInRight">
            <img src="/Content/en/images/page2_title1.png" />
        </div>
        <div class="product wow slideInLeft">
            <img src="/Content/en/images/page2_product.png" />
        </div>
    </div>
    <div class="page3_3">
        <div class="product wow slideInLeft">
            <img src="/Content/en/images/page3_3_product.png" />
        </div>
        <div class="desc wow slideInRight">
            <img src="/Content/en/images/page3_3_desc.png" />
        </div>
    </div>
    <div class="page3" data-600="background-position:0px -158px;" data-1800="background-position:0px 0px;">
        <div class="titledesc wow fadeInUp"><img src="/Content/en/images/page3_title.png" /></div>
        <div class="sksd_iphone wow slideInLeft"><img src="/content/en/images/page3_iphone.png" /></div>
        <div class="sksd_jiahao"><img src="/content/en/images/page3_jiahao.png" /></div>
        <div class="sksd_bracelet wow slideInRight"><img src="/content/en/images/page3_bracelet.png" /></div>
        <div class="page3_2">
            <div>
                <ul>
                    <li class="wow fadeInUp" data-wow-delay=".0s">
                        <a href="javascript:;">
                            <img src="/Content/en/images/page4_img1.jpg" width="640" height="562" />
                            <div class="project_info">
                                <div><p class="title">All-Day Activity</p><p class="subtitle">Enable recording the number of steps, distance, calories, the number of active minutes and the amount of activity per hour.</p></div>
                                <div class="line1"></div>
                            </div>
                        </a>
                    </li>
                    <li class="wow fadeInUp" data-wow-delay=".1s">
                        <a href="javascript:;">
                            <img src="/Content/en/images/page4_img2.jpg" width="640" height="562" />
                            <div class="project_info">
                                <div><p class="title">Smart Wristband</p><p class="subtitle">Enable looking the time, date and gravity sensor light screen. Mute vibration alarm clock to wake you up.</p></div>
                                <div class="line1"></div>
                            </div>
                        </a>

                    </li>
                    <li class="wow fadeInUp" data-wow-delay=".2s">
                        <a href="javascript:;">
                            <img src="/Content/en/images/page4_img3.jpg" />
                            <div class="project_info">
                                <div><p class="title">Life waterproof, long standby</p><p class="subtitle">The smart bracelet has grade IPX4 waterproofing and 5 days battery life.</p></div>
                                <div class="line1"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page4_2">
        <div class="owlbox wow fadeInUp">
            <div class="owl-demo" id="owl-demo">
                <div class="item"><img src="/Content/images/product_4.jpg" /></div>
                <div class="item"><img src="/Content/images/product_2.jpg" /></div>
                <div class="item"><img src="/Content/images/product_3.jpg" /></div>
                <div class="item"><img src="/Content/images/product_1.jpg" /></div>
                <div class="item"><img src="/Content/images/product_5.jpg" /></div>
                <div class="item"><img src="/Content/images/product_6.jpg" /></div>
                <div class="item"><img src="/Content/images/product_7.jpg" /></div>
                <div class="item"><img src="/Content/images/product_8.jpg" /></div>
                <div class="item"><img src="/Content/images/product_9.jpg" /></div>
                <div class="item"><img src="/Content/images/product_10.jpg" /></div>
            </div>
            <p class="tips">Enable choosing one of the ten colors at random</p>
        </div>
        <a href="javascript:alert('敬请期待！');" class="btn_page1buy wow fadeInUp" style="display:none"></a>
        <div class="text wow fadeInUp">
            <img src="/Content/en/images/page4_2_title.png" />
        </div>
        <div class="map wow fadeInUp">
            <div class="item1"><span></span><b></b></div>
            <div class="item2"><span></span><b></b></div>
            <div class="item3"><span></span><b></b></div>
            <div class="item4"><span></span><b></b></div>
            <div class="item5"><span></span><b></b></div>
            <div class="item6"><span></span><b></b></div>
            <div class="item7"><span></span><b></b></div>
            <div class="item8"><span></span><b></b></div>
            <div class="item9"><span></span><b></b></div>
            <div class="item10"><span></span><b></b></div>
            <div class="item11"><span></span><b></b></div>
        </div>
    </div>
    <div class="page5">
        <div class="title wow fadeInUp"><img src="/Content/en/images/page5_title.png" /></div>
        <div class="steplist">
            <div class="stepitem">
                <div class="stepcontent">
                    <div class="stepnumber fl wow fadeInLeft">
                        <p class="number">01</p><p class="stepname">First step</p>
                    </div>
                    <div class="stepbody fl wow fadeInRight">
                        <p class="ellipsis">Before going abroad</p>
                        <p class="description">
                            1 Download the app.<br/>
                            2 Please connect the bracelet to the phone app.<br />
                            3 Please buy the overseas traffic packages and activate by the app.
                        </p>
                    </div>
                </div>
            </div>
            <div class="stepitem">
                <div class="stepcontent">
                    <div class="stepnumber fl wow fadeInLeft">
                        <p class="number">02</p><p class="stepname">Second step</p>
                    </div>
                    <div class="stepbody fl wow fadeInRight">
                        <p class="ellipsis">After going abroad</p>
                        <p class="description">
                            1 After exchanging the SIM of the smart bracelet and the phone card, you can enjoy no roaming internet.<br />
                            2 Please open the domestic phone number to answer the call, send and receive text messages through the APP.
                        </p>
                    </div>
                </div>
            </div>
            <div class="stepitem">
                <div class="stepcontent">
                    <div class="stepnumber fl wow fadeInLeft">
                        <p class="number">03</p><p class="stepname">Third step</p>
                    </div>
                    <div class="stepbody fl wow fadeInRight">
                        <p class="ellipsis">Return country</p>
                        <p class="description">
                            1 Please close the function of the domestic mobile phone number, and SMS through the APP.<br/>
                            2 Please insert the SIM card back to the original position.
                        </p>
                    </div>
                </div>
            </div>
            <div class="stepitem">
                <div class="stepcontent">
                    <div class="stepnumber fl wow fadeInLeft">
                        <p class="number">04</p><p class="stepname">Fourth step</p>
                    </div>
                    <div class="stepbody fl wow fadeInRight">
                        <p class="ellipsis">Daily life</p>
                        <p class="description">
                            1 enable recording the movement, setting the alarm clock, watching the time and receiving SMS reminders.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page6">
        <div class="title wow fadeInUp"><img src="/Content/en/images/page6_title.png" /></div>
        <div class="box">
            <div class="select wow fadeInUp">
                <label class="fl">Please select the country or region you want to travel to:</label>
                <div class="selectact fl" id="j_selectbox">
                    HongKong
                </div>
                <ul id="country_select_li">
                    <li data-val="15">HongKong</li>
                    <li data-val="20">Singapore</li>
                    <li data-val="17">Macao</li>
                    <li data-val="35">Taiwan</li>
                    <li data-val="15">Japan</li>
                    <li data-val="18">Korea</li>
                    <li data-val="15">Thailand</li>
                    <li data-val="22">Indonesia</li>
                    <li data-val="20">Malaysia</li>
                    <li data-val="25">the Philippines</li>
                    <li data-val="100">Kazakhstan</li>
                    <li data-val="35">New Zealand</li>
                    <li data-val="25">Australia</li>
                    <li data-val="29">Britain</li>
                    <li data-val="29">Italy</li>
                    <li data-val="29">Scotland</li>
                    <li data-val="29">Northern Ireland</li>
                    <li data-val="29">San Marino</li>
                    <li data-val="29">Vatican</li>
                    <li data-val="29">Denmark</li>
                    <li data-val="15">Germany</li>
                    <li data-val="15">Ireland</li>
                    <li data-val="15">Sweden</li>
                    <li data-val="29">Austria</li>
                    <li data-val="29">France</li>
                    <li data-val="XX">Croatia</li>
                    <li data-val="60">Brazil</li>
                    <li data-val="35">United States</li>
                    <li data-val="25">Canada</li>
                    <li data-val="65">South Africa</li>
                </ul>
            </div>
            <div class="result wow flipInX">
                <div class="rsitem">
                    <p class="price">￥<span id="j_rs_price">15</span>/day</p>
                    <p class="desc">No limit flow</p>
                </div>
                <div class="rsitem">
                    <p class="price">￥<span>0.1</span>/minute</p>
                    <p class="desc">Dial telephone</p>
                </div>
                <div class="rsitem">
                    <p class="img"><img src="/Content/en/images/page6_free.png" /></p>
                </div>
                <div class="rsitem">
                    <p class="img"><img src="/Content/en/images/page6_free.png" /></p>
                </div>
            </div>
            <div class="country wow fadeInUp">
                <h5>Enable supporting the countries with no data restrictions for <span class="orange">￥<span>15</span>.00/days</span> on that day</h5>
                <div class="jscrollbox">
                    <h6>Asia</h6>
                    <div class="cbox">
                        <ul>
                            <li><img src="/Content/images/country/asia/aomen.jpg" />Macao</li>
                            <li><img src="/Content/images/country/asia/feilvbin.jpg" />the Philippines</li>
                            <li><img src="/Content/images/country/asia/hanguo.jpg" />Korea</li>
                            <li><img src="/Content/images/country/asia/hasake.jpg" />Kazakhstan</li>
                            <li><img src="/Content/images/country/asia/malaixiya.jpg" />Malaysia</li>
                            <li><img src="/Content/images/country/asia/riben.jpg" />Japan</li>
                            <li><img src="/Content/images/country/asia/taiguo.jpg" />Thailand</li>
                            <li><img src="/Content/images/country/asia/taiwan.jpg" />Taiwan</li>
                            <li><img src="/Content/images/country/asia/xianggang.jpg" />HongKong</li>
                            <li><img src="/Content/images/country/asia/xinjiapo.jpg" />Singapore</li>
                            <li><img src="/Content/images/country/asia/yinni.jpg" />Indonesia</li>
                        </ul>
                    </div>
                    <h6>Europe</h6>
                    <div class="cbox">
                        <ul>
                            <li><img src="/Content/images/country/europe/aierlan.jpg" />Ireland</li>
                            <li><img src="/Content/images/country/europe/aodili.jpg" />Austria</li>
                            <li><img src="/Content/images/country/europe/beiaierlan.jpg" />Northern Ireland</li>
                            <li><img src="/Content/images/country/europe/danmai.jpg" />Denmark</li>
                            <li><img src="/Content/images/country/europe/deguo.jpg" />Germany</li>
                            <li><img src="/Content/images/country/europe/faguo.jpg" />France</li>
                            <li><img src="/Content/images/country/europe/fandigang.jpg" />Vatican</li>
                            <li><img src="/Content/images/country/europe/keluodiya.jpg" />Croatia</li>
                            <li><img src="/Content/images/country/europe/ruidian.jpg" />Sweden</li>
                            <li><img src="/Content/images/country/europe/shengmaliya.jpg" />San Marino</li>
                            <li><img src="/Content/images/country/europe/sugelan.jpg" />Scotland</li>
                            <li><img src="/Content/images/country/europe/yidali.jpg" />Italy</li>
                            <li><img src="/Content/images/country/europe/yingguo.jpg" />Britain</li>
                        </ul>
                    </div>
                    <h6>Oceania</h6>
                    <div class="cbox">
                        <ul>
                            <li><img src="/Content/images/country/oceania/aozhou.jpg" />Australia</li>
                            <li><img src="/Content/images/country/oceania/xinxilan.jpg" />New Zealand</li>
                        </ul>
                    </div>
                    <h6>Africa</h6>
                    <div class="cbox">
                        <ul>
                            <li><img src="/Content/images/country/africa/nanfei.jpg" />南非</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page7">
        <div class="qrcode wow fadeInUp"><img src="/Content/en/images/page7_qrcode.jpg" /></div>
        <div class="downapp wow fadeInUp">
            <a href="javascript:;" class="btn_down_iphone"></a>
            <a href="http://sj.qq.com/myapp/detail.htm?apkName=cn.com.aixiaoqi" target="_blank" class="btn_down_android"></a>
        </div>
        <div class="iphone wow fadeInUp"><img src="/Content/en/images/page7_iphone.png" /></div>
    </div>
    <div class="page8">
        <div class="title wow fadeInUp"><img src="/Content/en/images/page8_title.png" /></div>
        <div class="problemlist">
            <div class="item fl wow fadeInUp">
                <p class="q">What devices does the smart bracelet support?</p>
                <p class="a">Support the Apple phones above iOS7.0 and the Android phones above Android 4.0;Does not support winphone, blackberry temporarily.</p>
            </div>
            <div class="item fr wow fadeInUp">
                <p class="q">How to buy the data plan?How to pay phone and SMS costs?</p>
                <p class="a">Download and install the smart phone App, and recharge with WeChat App and Alipay , you can purchase the data plan,and use the phone SMS function.Package will generally give a certain amount of talk time and message numbers.If the complimentary part is used up, the fee is deducted from the account balance.When the balance is insufficient, telephone and SMS function will be disabled, no arrears.</p>
            </div>
            <div class="item fl wow fadeInUp">
                <p class="q" style="line-height:20px">How to use the phone and the short message function?Do you need root the mobile phone?</p>
                <p class="a">Telephone and SMS function is done in the smart bracelet APP, instead of using a mobile phone built-in telephone and SMS App. So the phone does not have to root.</p>
            </div>
            <div class="item fr wow fadeInUp">
                <p class="q">How does the speed of the data plan?</p>
                <p class="a">Enable supporting the 3G/4G network, Unlimited traffic package contains 300M unlimited speed 3G/4G traffic in every day.After more than 300M, the speed will be very slow.</p>
            </div>
        </div>
    </div>
    <div class="page9">
        <div class="title wow fadeInUp"><img src="/Content/en/images/page9_title.png" /></div>
        <div class="address wow slideInLeft">
            <div class="item">
                <p class="company">Head office (Hongkong ZhouLao Group Co., Ltd.)</p>
                Address:20A Lockwood Commercial Building, No.300-306J.Steward<br /> Lockhat Rood,Wan Chai District,Hongkong.<br />
                Customer Service: + 852-819-12444
            </div>
            <div class="item">
                <p class="company">Shenzhen Branch(Shenzhen Dahai Network Co., Ltd.)</p>
                Address:501-502,No.91(Vienna Hotel),Fanshen Rood, Xin'an<br />Street,Baoan District, Shenzhen City<br />
                Email: marketing@unitoys.com<br />
                Customer service：400-880-4252
            </div>
        </div>
        <div class="feedback wow slideInRight">
            <label>Feedback</label>
            <textarea placeholder="Please enter your valuable suggestions" id="fb_content"></textarea>
            <label>Email</label>
            <input type="text" class="ipt_email" placeholder="Please enter your email address" id="fb_email" />
            <p><input type="button" value="submit >" class="btn_feedback_submit_en" /></p>
        </div>
    </div>
    <div class="page10">
        <p>Copyright © 2016 ShenZhen Dahai Network Co., Ltd.</p>
    </div>
</div>