@{
    ViewBag.Title = "Business";
}
<div class="company_banner">
    <div class="item"><img src="/Content/images/company_banner.jpg" /></div>
</div>
<div class="business">
    <div class="mbox content">
        <div class="p_nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index")">公司相关</a>
                </li>
                <li>
                    <a href="@Url.Action("Join")">加入我们</a>
                </li>
                <li>
                    <a href="@Url.Action("Business")" class="cur">商务合作</a>
                </li>
            </ul>
        </div>
        <div class="address_pic"><img src="/Content/images/company_address.jpg" /></div>
        <div class="contact_desc">
            公司名称：深圳市大海科技网络有限公司<br />
            公司地址：深圳市宝安区宝源路华源科技园B座3区615-618<br /><br />

            企业邮箱：marketing@unitoys.com<br />
            品牌推广：marketing@unitoys.com<br /><br />

            市场合作何先生<br />
            电话：0755-29988454<br />
            邮件：marketing@unitoys.com<br /><br />

            渠道合作郭小姐<br />
            邮件：marketing@unitoys.com<br /><br />

            自媒体合作郭小姐<br />
            邮件：marketing@unitoys.com
        </div>
    </div>
</div>