@{
    ViewBag.Title = "关于我们";
}
<div class="company_banner">
    <div class="item"><img src="/Content/images/company_banner.jpg" /></div>
</div>
<div class="about_main">
    <div class="mbox content">
        <div class="p_nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index")" class="cur">公司相关</a>
                </li>
                <li>
                    <a href="@Url.Action("Join")">加入我们</a>
                </li>
                <li>
                    <a href="@Url.Action("Business")">商务合作</a>
                </li>
            </ul>
        </div>
        <div class="about_desc">
            <h5>公司简介：</h5>
            <p>　　深圳市大海网络有线公司集研发、设计、生产、销售、售后一体的集团化公司。下设深圳市爱小器通讯技术有线公司和周老集团（香港）有线公司，业务涵盖国内69个重点城市和海外100多个国家和地区。公司拥有专业智囊团队和安全专家，管理团队来自海外及国内多家知名企业，研发和业务团队来自腾讯、阿里、滴滴、华为、小米、联想等公司。</p>
            <p>　　深圳市大海网络有限公司成立之初，秉承“智慧安全生活，共享生活经济”的理念打造全新的智能安全生活体验，更是专注于全球网络通讯软件研发、国内网络安全检测、行业应用软件开发、智能硬件生产、社交媒体应用、电子商务运营、渠道销售管理等垂直领域。   </p>
            <p>　　为客户提供定制化解决方案，为电信、联通、公安系统、银行、提供解决方案并运营。同时与腾讯、阿里、京东、百度、电信、联通、移动、车联网、珠宝行业达成战略合作。旗下爱小器系列产品，爱小器手环独特卖点和安全出行理念从新定义手环行业，单品累计销量更是得到消费者的青睐。</p>
            <h5>公司发展史：</h5>
            <img src="/Content/images/about_timeline.jpg" />
            <h5>商业模式：</h5>
            <p>首创O2F/S模式服务平台：Online 2 Family/Service 打造全新的智能生活服务体系，成熟专业的业务流程，完善可靠的技术支撑，细致专业的服务体验。     </p>
            <p>STP营销理念：互联网+智慧安全生活理念，为广消费者解决通话贵、流量少、通话安全的全球难题的现象，采用先进的云SIM及GOIP技术，打造全新智慧生活户外体验，感受共享经济，分享智慧户外生活圈。</p>
            <p>USP品牌定位：服务中国，着眼全球我们在乎你的感受，更在乎你。</p>
            <p>会员服务体系：大海网络实行会员制服务体系，服务于战略合作伙伴、合作伙伴、合伙人制度。</p>
        </div>
    </div>
</div>