@{
    ViewBag.Title = "Join";
}
<div class="company_banner">
    <div class="item"><img src="/Content/images/company_banner.jpg" /></div>
</div>
<div class="join_main">
    <div class="mbox content">
        <div class="p_nav">
            <ul>
                <li>
                    <a href="@Url.Action("Index")">公司相关</a>
                </li>
                <li>
                    <a href="@Url.Action("Join")" class="cur">加入我们</a>
                </li>
                <li>
                    <a href="@Url.Action("Business")">商务合作</a>
                </li>
            </ul>
        </div>
        <div class="job_desc">
            <ul>
                <li>
                    <h5>高级Android开发工程师</h5>
                    工作地点：深圳<br />
                    职位类别：	研发工程师<br />
                    招聘渠道：社会招聘<br />
                    工作职责：	<br />
                    1、负责小米网后端业务系统app设计开发；<br />
                    2、和多个不同部门沟通协调，深入理解业务需求并制订解决方案；<br />
                    3、以业务目标为导向，积极钻研探索各种新技术；<br />
                    4、对研发过程中的问题分析和总结，且不断通过技术革新、架构优化、研发流程改造以提升研发效率。<br />
                    工作要求：	<br />
                    1、计算机或相关专业本科以上学历 <br />
                    2、对数据结构和算法设计具有深刻的理解 <br />
                    3、熟悉掌握Java，熟悉Android SDK<br />
                    4、一年以上Android开发经验，能独立开发Android App<br />
                    5、善于学习和运用新知识，具有良好的分析和解决问题能力 <br />
                    6、具有良好的团队合作精神和积极主动的沟通意 <br />
                    申请方式：<br />
                    请发简历到邮箱：marketing@unitoys.com<br />
                </li>
                <li>
                    <h5>高级Android开发工程师</h5>
                    工作地点：深圳<br />
                    职位类别：	研发工程师<br />
                    招聘渠道：社会招聘<br />
                    工作职责：	<br />
                    1、负责小米网后端业务系统app设计开发；<br />
                    2、和多个不同部门沟通协调，深入理解业务需求并制订解决方案；<br />
                    3、以业务目标为导向，积极钻研探索各种新技术；<br />
                    4、对研发过程中的问题分析和总结，且不断通过技术革新、架构优化、研发流程改造以提升研发效率。<br />
                    工作要求：	<br />
                    1、计算机或相关专业本科以上学历 <br />
                    2、对数据结构和算法设计具有深刻的理解 <br />
                    3、熟悉掌握Java，熟悉Android SDK<br />
                    4、一年以上Android开发经验，能独立开发Android App<br />
                    5、善于学习和运用新知识，具有良好的分析和解决问题能力 <br />
                    6、具有良好的团队合作精神和积极主动的沟通意 <br />
                    申请方式：<br />
                    请发简历到邮箱：marketing@unitoys.com<br />
                </li>
                <li>
                    <h5>高级Android开发工程师</h5>
                    工作地点：深圳<br />
                    职位类别：	研发工程师<br />
                    招聘渠道：社会招聘<br />
                    工作职责：	<br />
                    1、负责小米网后端业务系统app设计开发；<br />
                    2、和多个不同部门沟通协调，深入理解业务需求并制订解决方案；<br />
                    3、以业务目标为导向，积极钻研探索各种新技术；<br />
                    4、对研发过程中的问题分析和总结，且不断通过技术革新、架构优化、研发流程改造以提升研发效率。<br />
                    工作要求：	<br />
                    1、计算机或相关专业本科以上学历 <br />
                    2、对数据结构和算法设计具有深刻的理解 <br />
                    3、熟悉掌握Java，熟悉Android SDK<br />
                    4、一年以上Android开发经验，能独立开发Android App<br />
                    5、善于学习和运用新知识，具有良好的分析和解决问题能力 <br />
                    6、具有良好的团队合作精神和积极主动的沟通意 <br />
                    申请方式：<br />
                    请发简历到邮箱：marketing@unitoys.com<br />
                </li>
            </ul>

        </div>
    </div>
</div>