
@{
    ViewBag.Title = "爱小器 - 京东众筹";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN" data-use-rem="">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="no-cache" http-equiv="Cache-Control" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />

    
  <style>
     
      /******= Reset =******/
      section, article, aside, header, footer, nav, dialog, figure, legend {
          display: block;
      }

      body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
          margin: 0;
          padding: 0;
      }

      table {
          border-collapse: collapse;
          border-spacing: 0;
          empty-cells: show;
          table-layout: fixed;
      }

          table td {
              word-break: break-all;
          }

      caption, th {
          text-align: left;
      }

      ol, ul {
          list-style: none;
      }

      img {
          display: block;
          border: 0;
          vertical-align: middle;
          max-width: 100%;
          height: auto;
          width: auto\9; /* ie8 */
      }

      *:focus {
          outline: 0;
      }

      * {
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          -webkit-touch-callout: none;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }

      audio, canvas, video {
          display: inline-block;
          *display: inline;
          *zoom: 1;
      }

          audio:not([controls]) {
              display: none;
          }

      [hidden] {
          display: none;
      }

      a {
          text-decoration: none;
      }
      /******= Typography =******/
      html, body {
         
          height: 100%;
      }

      html {
          font-size: 100px;
          outline: 0;
      }

      body {
          color: #767676;
          background: #ffffff;
          -webkit-user-select: none;
          -webkit-text-size-adjust: none;
          position: relative;
          font-size: 0.16rem;
      }

      h1, h2, h3, h4, h5, h6 {
          font-size: 100%;
          font-weight: normal;
      }
  </style>
</head>
<body>
    <div style="width:760px;margin:0 auto">
        <img src="/content/images/zc/page1.jpg" />
        <img src="/content/images/zc/page2.jpg" />
        <img src="/content/images/zc/page3.jpg" />
        <img src="/content/images/zc/page4.jpg" />
        <img src="/content/images/zc/page5.jpg" />
        <img src="/content/images/zc/page6.jpg" />
        <img src="/content/images/zc/page7.jpg" />
    </div>
</body>
</html>


