@{
    ViewBag.Title = "Unibox";
}
<div class="unibox_page">
    <div class="p_nav">
        <div class="navbox" id="scroll_nav">
            <div class="mbox">
                <h5>爱小器 双待王</h5>
                <div class="right">
                    <ul>
                        <li><a href="javascript:;" data-page="uni_page1">概述</a></li>
                        <li><a href="javascript:;" data-page="uni_page6">参数</a></li>
                        <li><a href="javascript:;" data-page="uni_page9">常见问题</a></li>
                    </ul>
                    <p><a href="http://mall.unitoys.com/" target="_blank" class="btn_unibox_buy"></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="uni_page1">
        <p class="tips">*配合爱小器APP共同使用为用户最大化节约通讯费用问题。</p>
        <div class="region">
            <a href="@Url.Action("Index", "downapp", new { area = "" })" class="link_down">爱小器APP下载 &gt;</a>
            <h6>爱小器 双待王</h6>
            <p class="p1">智能 通讯 硬件设备</p>

            <p class="p2">
                <span class="hot">199</span>元<br />
                蓝牙连接爱小器app<br />
                （黑白2色可选）
            </p>
        </div>
        <div class="img wow fadeInDown_half" data-wow-duration="2s"></div>
    </div>
    <div class="uni_page2">
        <div class="box left">
            <div class="bgimg wow outRight_valen" data-wow-duration="2s"></div>
        </div>
        <div class="box right">
            <div class="slogan">
                <p class="txt1">一部手机  多卡待机</p>
                <p class="txt2">
                    二张卡，一个手机怎么办?<br />
                    出国通话，上网，费用太贵怎么办?<br />
                    在国内通话套餐费用高怎么办?<br /><br />

                    在国内，用爱小器设备打电话费用低到可忽略<br />
                    在国外，用话把主卡放到爱小器设备里，省去国际漫游费用<br />
                    在国外，使用爱小器流量卡，可以无限流量在国外上网<br />
                    爱小器双待王告别携带多部手机的烦恼，带来便捷通讯的体验
                </p>
            </div>
        </div>
    </div>
    <div class="uni_page3">
        <div class="title">与手机加密连接安全可靠，信息加密独享蓝牙通道<br />不影响手机连接音响、耳机</div>
        <div class="gongneng img wow fadeInUp_half">
            <p>蓝牙<br /><span>4.0低功耗</span></p>
            <p>待机时长<br /><span>400小时</span></p>
        </div>
        <div class="product_img"></div>
    </div>
    <div class="uni_page4 ">
        <div class="bgimg wow zoomIn_valen" data-wow-duration="2s"></div>
        <div class="title">苹果手机的最佳伴侣</div>
        <div class="content">
            <p>
                苹果用户出门无需带俩个手机，双待王自带一个SIM卡槽，可放置任意一张联通、移动、电信的SIM卡；通过手机蓝牙把放置在双待王与手机上的<br />
                卡连接起来，当手机下载“爱小器”APP后，用户可在手机端实现两个号码的同时<br />
                管理，让单卡手机秒变双卡双待；可接打电话、收发短信，并可共享及管理手机内通讯录；出国在外无国际漫游<br />
                费，通话只收国内话费，轻松随意与国内接打电话、收发短信。<br />
            </p>
        </div>
    </div>
    <div class="uni_page5">
        <div class="box left">
            <p><strong>黑色</strong><br />靓丽流于眼前</p>
            <p><img src="/Content/images/unibox_page5_left.png" /></p>
        </div>
        <div class="box right">
            <p><strong>白色</strong><br />纯色烙在心尖</p>
            <p><img src="/Content/images/unibox_page5_right.png" /></p>
        </div>
    </div>
    <div class="uni_page6">
        <div class="canshu">
            <p class="p1">产品参数</p>
            <p class="p2">
                主体尺寸： 35.5*35.5*8.6mm<br />
                电池： 110mAh<br />
                材质： ABS+PC<br />
                支持SIM卡： nano
            </p>
        </div>
        <div class="product_img"></div>
    </div>
    <div class="uni_page7">
        <div class="content">
            <p class="p1">和玩偶配件一样的小巧</p>
            <p class="p2">细节决定差异， 我们十分乐意倾听来自各方的声音，我们不断改善，承诺带给你更多的惊喜。</p>
        </div>
    </div>
    <div class="uni_page8">
        <div class="content">
            <p class="p1">爱小器双待王设备绑定</p>
            <p class="p2">通过下面图示流程进行爱小器APP与设备的绑定，绑定成功后可管理使用设备</p>
        </div>
        <div class="product_img"></div>
    </div>
    <div class="uni_page9">
        <h6>常见问题</h6>
        <div class="problemlist">
            <div class="item fl wow">
                <p class="q">爱小器支持哪些设备？</p>
                <p class="a">支持iOS 8.0以上的苹果手机和Android 4.3以上的安卓手机。暂时不支持winphone，黑莓手机。</p>
            </div>
            <div class="item fr wow">
                <p class="q">流量套餐怎么购买？电话，短信相关费用怎么支付？</p>
                <p class="a">下载安装手机App后，在App中用微信，支付宝充值，就可以购买流量套餐。使用电话短信功能了。套餐一般会赠送一定的通话时间，短信数量。如果赠送部分被用完，从账户余额里面扣除。当余额不足时，电话短信功能会停用，不会出现欠费情况。</p>
            </div>
            <div class="item fl wow">
                <p class="q">电话，短信功能要怎么用？手机需要刷机吗？</p>
                <p class="a">电话短信功能是在爱小器的APP完成的，而不是用手机自带的电话、短信App。所以手机不用刷机。</p>
            </div>
            <div class="item fr wow">
                <p class="q">流量套餐的网速如何？</p>
                <p class="a">支持3G/4G网络，单日不限流量套餐包含300M无限速的3G/4G流量，超过300M后网速会很慢。</p>
            </div>
        </div>
        <div class="btn"><a href="@Url.Action("Question", "Service")">更多</a></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="/Content/js/wow.min.js"></script>
    <script type="text/javascript">
    (function () {
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
            new WOW().init();
        };


        $('body,html').animate({ scrollTop: 58 }, 1000);
        $("#scroll_nav .right li a").click(function () {
            $("#scroll_nav .right li a").removeClass("cur");
            $(this).addClass("cur");
            var slt = $("." + $(this).attr("data-page")).offset().top - 68;
            $('body,html').animate({ scrollTop: slt }, 700);
            return false;
        });

        $(window).scroll(function () {
            if ($(document).scrollTop() > 60) {
                $("#scroll_nav").attr("class", "navbox fixed");
            } else {
                $("#scroll_nav").attr("class", "navbox");
            }
        })
    })();
</script>
}
