@{
    ViewBag.Title = "Question";
}
@model UnitoysWebSite.Models.UT_GlobalContent
<div class="service_banner">
    <div class="item"><img src="/Content/images/service_banner.jpg" /></div>
</div>
<div class="service_page">
    <div class="mbox content">
        <div class="p_nav">
            <ul>
                <li>
                    <a href="@Url.Action("Channel")">售后渠道</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">售后政策</a>
                </li>
                <li>
                    <a href="@Url.Action("Question")" class="cur">常见问题</a>
                </li>
            </ul>
        </div>
        <div class="service_question">
            @Html.Raw(Model.Content)
            @*<ul>
                <li>
                    <p class="q">Q: 绑定双待王时，搜索不到周围设备怎么？</p>
                    <p class="a">A: 您需要保持双待王有电，并且将双待王靠近手机。如果您的设备和其他手机绑定过，请关闭其他手机的蓝牙，或者远离它。</p>
                </li>
                <li>
                    <p class="q">Q: 搜索时提示“该设备已绑定”，怎么办？</p>
                    <p class="a">A: 请先登录之前绑定该双待王的账号，在个人中心中解除绑定，然后再绑定。如果您忘记了之前绑定该设备的账号，可以拨打客服电话，向爱小器官方申请解除绑定。</p>
                </li>
                <li>
                    <p class="q">Q: 解绑绑定失败是怎么回事？</p>
                    <p class="a">A: 您的手机必须联网才能解除绑定。</p>
                </li>
                <li>
                    <p class="q">Q: 电话经常漏接，怎么办？ </p>
                    <p class="a">A: 日常使用时，请不要杀死爱小器APP。另外进入个人中心的“权限设置”页面，然后根据引导把相关权限都开启后，再重启APP</p>
                </li>
                <li>
                    <p class="q">Q: 双待王里插卡电话，却显示未插卡，怎么办？ </p>
                    <p class="a">A: 在个人中心中进入“我的设备”页面，然后点击“未插卡”右边的刷新按钮，然后选举重启设备。重启后就可检测到卡了。</p>
                </li>
                <li>
                    <p class="q">Q: 双待王固件升级失败，怎么办？ </p>
                    <p class="a">A: 升级失败后，稍等2分钟，双待王会自动重启，然后再连上设备。固件升级时，确保手机能联网，并且不要杀死APP。 </p>
                </li>
                <li>
                    <p class="q">Q: 插入爱小器国际卡，激活不了套餐。</p>
                    <p class="a">A: 激活时，需要将爱小器卡插入到双待王中，双待王要和手机保持连接，并且手机要连接网络。</p>
                </li>
                <li>
                    <p class="q">Q: 出国后，爱小器国际卡插入到手机后，手机连不上网，怎么办？</p>
                    <p class="a">A: 您需要在APP中找到您的出国套餐，然后按照套餐详情中的“出境后使用引导”设置操作后，即可联网。</p>
                </li>
                <li>
                    <p class="q">Q: 拨打不了电话,怎么办？ </p>
                    <p class="a">A: </p>
                </li>
            </ul>*@
        </div>
    </div>
</div>