@{
    ViewBag.Title = "新闻详情";
}
<div class="news_main">
    <div class="mbox">
        <div class="leftbox">
            <div class="p_nav">
                <ul>
                    <li>
                        <a href="javascript:;" class="cur">行业新闻</a>
                    </li>
                    <li>
                        <a href="news_dt.html">公司动态</a>
                    </li>
                </ul>
            </div>
            <div class="news_detail">
                <div class="n_title">
                    <h3>手环增加什么功能才不再是鸡肋？</h3>
                    <span>2017-03-20 爱小器智能馆</span>
                </div>
                <div class="news_content">
                    智能手环三个基本功能<br /><br />

                    1、记录运动数据<br /><br />

                    对于有健身需求的用户来说，希望手环记录的运动数据越详细越好，但实际上，手环技术只能做到粗糙，比如Fitbit Flex、爱小器、咕咚手环等，有的手环可以自动监测走路、跑步、游泳等不同的运动类型，对于挑剔的用户来说，这样增加的功能反倒不如没有。<br />

                    2、记录睡眠数据<br /><br />

                    在我身边，确实有因为希望了解自己睡眠状况而购买智能手环的用户，手环在睡眠数据的记录上，应该包括深睡、浅睡、中断等不同的模式，但绝大多数手环只能记录睡眠数据，但没有进一步的分析。<br />

                    3、静默闹钟<br /><br />

                    用户对于手环静默闹钟功能的需求来自两个方面，一是希望在浅睡的时候醒来，不影响状态和心情，另外一个是不希望手机闹钟影响其他人，需要一个能够悄悄地将自己叫醒的闹钟，早期的手环不少没有这一功能，但目前的手环已经标配了这一功能。<br />

                    智能手环七个进阶功能



                    1、时间显示<br /><br />

                    智能手表和智能手环最大的区别在于手表可以安装应用、显示时间，而手环不具备这样的功能，为了拉拢一部分单纯为了看时间而购买智能手表的用户，一些手环也开始支持时间显示。<br />

                    2、显示通知<br /><br />

                    一些手环在和手机连接之后，可以显示信息、微信、邮件、来电、日历等通知，对于有强迫症的用户来说，就不需要隔几分钟就点亮手机屏幕来查看是否有错过的信息了，顶多看看手环即可，在公共场合既能显得不那么不合群，也能节省手机的电量。<br />

                    3、接听电话<br /><br />

                    接听电话是不少智能手表具备的功能，让用户不需要从兜里掏出手机就能接电话，在比较拥挤的场所很有用，具备这一功能的手环则比较少见。<br />

                    4、社交<br /><br />

                    智能手环的社交思路有两种， 一是运动PK，用户之间可以进行PK，将这个圈子进行了扩展；另外一种社交方式是互加好友，两个人同时带着Razer Nabu，只需要握一下手，就能够互加好友，这一功能如果能够跨品牌存在，会是一件比较有意思的事情。<br />

                    5、心率监测<br /><br />

                    随着用户对手环健身功能需求的加强，不再满足于简单地记录步数和卡路里消耗，心率监测功能的加入则可以让用户在健身的时候时刻监测自己的心率，达到更加健康健身的目的。<br />

                    6、健身指导<br /><br />

                    健身指导也是运动手环逐渐演变出来的功能，相当于简易健身教练，Microsoft Band就具备一项名为“锻炼执导（Guided Workouts）”的功能，可以让用户选择多种预设的锻炼计划和步骤，手环则会逐步对用户进行指导，<br />

                    7、遥控<br /><br />

                    遥控是针对于采用独立按键的手环来说的，在软件的支持下通过这个按键可以实现遥控器的功能，比如一键开关灯泡....<br />
                </div>
            </div>
        </div>
        <div class="rightbox">
            <div class="dy_weixin">
                <h5>微信公众号订阅</h5>
                <p class="tips">第一时间获取我们的更新和新服务信息</p>
                <p class="pic"><img src="/Content/images/qrcode_weixin.png" /></p>
            </div>
            <div class="dy_email">
                <h5>邮箱订阅</h5>
                <p class="tips">第一时间获取我们的更新和新服务信息</p>
                <p class="form">
                    <input type="text" placeholder="姓名" />
                    <input type="text" placeholder="电子邮箱" />
                    <a href="#">立即订阅</a>
                </p>
            </div>
            <div class="dy_shejiao">
                <h5>社交媒体</h5>
                <p class="tips">随时咨询我们的工作人员</p>
                <p class="btnp"><a href="#" class="btn_weibo">新浪微博</a></p>
                <p class="btnp"><a href="#" class="btn_facebook">FaceBook</a></p>
            </div>
        </div>
    </div>
</div>