@{
    ViewBag.Title = "爱小器";
}
<div class="banner">
    <div class="item"><img src="/Content/images/home_banner_1.jpg" /></div>
</div>
<div class="index_page">
    <div class="function">
        <div class="fct_list">
            <ul>
                <li>
                    <p class="item1"></p>
                    <p>出国上网<br />Go abroad to the Internet</p>
                </li>
                <li>
                    <p class="item2"></p>
                    <p>双卡双待<br />Dual SIM</p>
                </li>
                <li>
                    <p class="item3"></p>
                    <p>免国际漫游<br />Free international roaming</p>
                </li>
                <li>
                    <p class="item4"></p>
                    <p>智能支付<br />Intelligent payment</p>
                </li>
                <li>
                    <p class="item5"></p>
                    <p>公交地铁<br />Bus subway</p>
                </li>
                <li>
                    <p class="item6"></p>
                    <p>隐私安全<br />Privacy and security</p>
                </li>
            </ul>
        </div>
    </div>
</div>