@{
    ViewBag.Title = "爱小器";
    }
<div class="header">
    <div class="logo"><img src="/Content/images/logo.png" /></div>
    <div class="nav">
        <ul>
            <li class="item1"><a class="active" href="javascript:;" data-page="page1" title="产品特色">产品特色</a></li>
            <li class="item2"><a href="javascript:;" data-page="page11" title="使用说明">使用说明</a></li>
            <li class="item4"><a href="javascript:;" data-page="page12" title="APP下载">APP下载</a></li>
            <li class="item5"><a href="javascript:;" data-page="page13" title="常见问题">常见问题</a></li>
            <li class="item6"><a href="javascript:;" data-page="page14" title="联系我们">联系我们</a></li>
            <li class="item7"><a href="javascript:;" title="">|</a></li>
            <li class="item8"><a href="/en" title="English">English</a></li>
        </ul>
    </div>
</div>
<div class="home">
    <div class="page1">
        <div class="titlebox" data-0="transform: translateY(0px);opacity: 1" data-700="transform: translateY(560px);opacity: 0">
            <div class="text wow bounceIn">
                <img src="/Content/images/page1_slogan.png" />
            </div>
            <div class="tips wow bounceIn" style="display:none">
                <a href="javascript:;" class="link_buy" style="display:none">立即购买》</a>
            </div>
        </div>
    </div>
    <div class="page2">
        <div class="titledesc wow fadeInUp"><img src="/Content/images/page2_title.png" /></div>
        <div class="sksd_iphone wow slideInLeft"><img src="/content/images/page3_iphone.png" /></div>
        <div class="sksd_jiahao"><img src="/content/images/page3_jiahao.png" /></div>
        <div class="sksd_bracelet wow slideInRight"><img src="/content/images/page3_bracelet.png" /></div>
    </div>
    <div class="page3" data-600="background-position:50% -800px;" data-2200="background-position:50% -400px;">
        <div data-1000="transform: translateY(0px);opacity: 1" data-1900="transform: translateY(220px);opacity: 0.5">
            <div class="text wow slideInLeft">
                <img src="/Content/images/page3_title.png" />
            </div>
        </div>
            <div class="page3_2">
                <div>
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay=".0s">
                            <p class="text_1"><img src="/Content/images/page3_2_img1.png" /></p>
                            <img src="/Content/images/page3_2_img1.jpg" />
                        </li>
                        <li class="wow fadeInUp" data-wow-delay=".1s">
                            <p class="text_2"><img src="/Content/images/page3_2_img2.png" /></p>
                            <img src="/Content/images/page3_2_img2.jpg" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="page4">
        <div class="titledesc wow fadeInUp"><img src="/Content/images/page4_text.png" /></div>
        <div class="img wow slideInLeft"><img src="/content/images/page4_img.jpg" /></div>
    </div>

    <div class="page5" data-1800="background-position:50% -500px;" data-3900="background-position:50% 200px;">
        <div data-2500="transform: translateY(0px);opacity: 1" data-3700="transform: translateY(360px);opacity: 0.5">
            <div class="titledesc wow fadeInUp">
                <img src="/Content/images/page5_text.png" />
            </div>
        </div>
    </div>
    <div class="page6">
    </div>
    <div class="page7">
    </div>
    <div class="page8">
    </div>
    <div class="page9">
    </div>
    <div class="page4_2">
        <div class="owlbox wow fadeInUp">
            <div class="owl-demo" id="owl-demo">
                <div class="item"><img src="/Content/images/product_4.jpg" /></div>
                <div class="item"><img src="/Content/images/product_2.jpg" /></div>
                <div class="item"><img src="/Content/images/product_3.jpg" /></div>
                <div class="item"><img src="/Content/images/product_1.jpg" /></div>
                <div class="item"><img src="/Content/images/product_5.jpg" /></div>
                <div class="item"><img src="/Content/images/product_6.jpg" /></div>
                <div class="item"><img src="/Content/images/product_7.jpg" /></div>
                <div class="item"><img src="/Content/images/product_8.jpg" /></div>
                <div class="item"><img src="/Content/images/product_9.jpg" /></div>
                <div class="item"><img src="/Content/images/product_10.jpg" /></div>
            </div>
            <p class="tips">十种颜色任你选</p>
        </div>
        <a href="javascript:alert('敬请期待！');" class="btn_page1buy wow fadeInUp" style="display:none"></a>
        <div class="text wow fadeInUp">
            <img src="/Content/images/page4_2_title.png" />
        </div>
        <div class="map wow fadeInUp">
            <div class="item1"><span></span><b></b></div>
            <div class="item2"><span></span><b></b></div>
            <div class="item3"><span></span><b></b></div>
            <div class="item4"><span></span><b></b></div>
            <div class="item5"><span></span><b></b></div>
            <div class="item6"><span></span><b></b></div>
            <div class="item7"><span></span><b></b></div>
            <div class="item8"><span></span><b></b></div>
            <div class="item9"><span></span><b></b></div>
            <div class="item10"><span></span><b></b></div>
            <div class="item11"><span></span><b></b></div>
        </div>
    </div>
    <div class="page11">
    </div>
    <div class="page666" style="display:none">
        <div class="title wow fadeInUp"><img src="/Content/images/page6_title.png" /></div>
        <div class="box">
            <div class="select wow fadeInUp">
                <label class="fl">选择您要前往的国家或地区：</label>
                <div class="selectact fl" id="j_selectbox">
                    中国香港
                </div>
                <ul id="country_select_li">
                    <li data-val="15">中国香港</li>
                    <li data-val="17">中国澳门</li>
                    <li data-val="35">中国台湾</li>
                    <li data-val="25">菲律宾</li>
                    <li data-val="18">韩国</li>
                    <li data-val="15">哈萨克斯坦</li>
                    <li data-val="20">马来西亚</li>
                    <li data-val="15">日本</li>
                    <li data-val="40">泰国</li>
                    <li data-val="25">新加坡</li>
                    <li data-val="22">印尼</li>
                    <li data-val="29">欧洲31国</li>
                    <li data-val="29">爱尔兰</li>
                    <li data-val="29">奥地利</li>
                    <li data-val="29">北爱尔兰</li>
                    <li data-val="29">丹麦</li>
                    <li data-val="35">德国</li>
                    <li data-val="29">法国</li>
                    <li data-val="29">梵蒂冈</li>
                    <li data-val="35">荷兰</li>
                    <li data-val="35">捷克</li>
                    <li data-val="35">克罗地亚</li>
                    <li data-val="35">罗马尼亚</li>
                    <li data-val="35">葡萄牙</li>
                    <li data-val="29">圣马力亚</li>
                    <li data-val="29">苏格兰</li>
                    <li data-val="35">土耳其</li>
                    <li data-val="35">西班牙</li>
                    <li data-val="35">希腊</li>
                    <li data-val="29">意大利</li>
                    <li data-val="29">英国</li>
                    <li data-val="25">澳洲</li>
                    <li data-val="35">新西兰</li>
                    <li data-val="65">南非</li>
                </ul>
            </div>
            <div class="result wow flipInX">
                <div class="rsitem">
                    <p class="price">￥<span id="j_rs_price">15</span>/天</p>
                    <p class="desc">不限流量</p>
                </div>
                <div class="rsitem">
                    <!--<p class="price">￥<span>0.1</span>/分钟</p>-->
                    <p class="price">￥<span>0.1</span>/分钟</p>
                    <p class="desc">拨打电话</p>
                </div>
                <div class="rsitem">
                    <p class="img"><img src="/Content/images/page6_free1.png" /></p>
                </div>
                <div class="rsitem">
                    <p class="img"><img src="/Content/images/page6_free2.png" /></p>
                </div>
            </div>
            <div class="country wow fadeInUp">
                <h5>支持<span class="orange">￥<span>15</span>.00/天</span>当日无限流量的国家</h5>
                <div class="jscrollbox">
                    <h6>亚洲</h6>
                    <div class="cbox">
                        <ul>
                            <li data-val="15"><img src="/Content/images/country/asia/xianggang.jpg" />中国香港</li>
                            <li data-val="17"><img src="/Content/images/country/asia/aomen.jpg" />中国澳门</li>
                            <li data-val="35"><img src="/Content/images/country/asia/taiwan.jpg" />中国台湾</li>
                            <li data-val="25"><img src="/Content/images/country/asia/feilvbin.jpg" />菲律宾</li>
                            <li data-val="18"><img src="/Content/images/country/asia/hanguo.jpg" />韩国</li>
                            <li data-val="15"><img src="/Content/images/country/asia/hasake.jpg" />哈萨克斯坦</li>
                            <li data-val="20"><img src="/Content/images/country/asia/malaixiya.jpg" />马来西亚</li>
                            <li data-val="15"><img src="/Content/images/country/asia/riben.jpg" />日本</li>
                            <li data-val="40"><img src="/Content/images/country/asia/taiguo.jpg" />泰国</li>
                            <li data-val="25"><img src="/Content/images/country/asia/xinjiapo.jpg" />新加坡</li>
                            <li data-val="22"><img src="/Content/images/country/asia/yinni.jpg" />印尼</li>
                        </ul>
                    </div>
                    <h6>欧洲</h6>
                    <div class="cbox">
                        <ul>
                            <li data-val="35"><img src="/Content/images/country/europe/aozhou31guo.jpg" />欧洲31国</li>
                            <li data-val="29"><img src="/Content/images/country/europe/aierlan.jpg" />爱尔兰</li>
                            <li data-val="29"><img src="/Content/images/country/europe/aodili.jpg" />奥地利</li>
                            <li data-val="29"><img src="/Content/images/country/europe/beiaierlan.jpg" />北爱尔兰</li>
                            <li style="display:none"><img src="/Content/images/country/europe/bilishi.jpg" />比利时</li>
                            <li data-val="29"><img src="/Content/images/country/europe/danmai.jpg" />丹麦</li>
                            <li data-val="35"><img src="/Content/images/country/europe/deguo.jpg" />德国</li>
                            <li style="display:none"><img src="/Content/images/country/europe/eluosi.jpg" />俄罗斯</li>
                            <li data-val="29"><img src="/Content/images/country/europe/faguo.jpg" />法国</li>
                            <li data-val="29"><img src="/Content/images/country/europe/fandigang.jpg" />梵蒂冈</li>
                            <li data-val="35"><img src="/Content/images/country/europe/helan.jpg" />荷兰</li>
                            <li data-val="35"><img src="/Content/images/country/europe/jieke.jpg" />捷克</li>
                            <li data-val="35"><img src="/Content/images/country/europe/keluodiya.jpg" />克罗地亚</li>
                            <li style="display:none"><img src="/Content/images/country/europe/litaowan.jpg" />立陶宛</li>
                            <li style="display:none"><img src="/Content/images/country/europe/lusenbao.jpg" />卢森堡</li>
                            <li data-val="35"><img src="/Content/images/country/europe/luomaniya.jpg" />罗马尼亚</li>
                            <li style="display:none"><img src="/Content/images/country/europe/nuowei.jpg" />挪威</li>
                            <li data-val="35"><img src="/Content/images/country/europe/putaoya.jpg" />葡萄牙</li>
                            <li style="display:none"><img src="/Content/images/country/europe/ruidian.jpg" />瑞典</li>
                            <li data-val="29"><img src="/Content/images/country/europe/shengmaliya.jpg" />圣马力亚</li>
                            <li data-val="29"><img src="/Content/images/country/europe/sugelan.jpg" />苏格兰</li>
                            <li data-val="35"><img src="/Content/images/country/europe/tuerqi.jpg" />土耳其</li>
                            <li data-val="35"><img src="/Content/images/country/europe/xibanya.jpg" />西班牙</li>
                            <li data-val="35"><img src="/Content/images/country/europe/xila.jpg" />希腊</li>
                            <li data-val="29"><img src="/Content/images/country/europe/yidali.jpg" />意大利</li>
                            <li data-val="29"><img src="/Content/images/country/europe/yingguo.jpg" />英国</li>
                        </ul>
                    </div>
                    <h6>大洋洲</h6>
                    <div class="cbox">
                        <ul>
                            <li data-val="25"><img src="/Content/images/country/oceania/aozhou.jpg" />澳洲</li>
                            <li data-val="35"><img src="/Content/images/country/oceania/xinxilan.jpg" />新西兰</li>
                        </ul>
                    </div>
                    <h6>非洲</h6>
                    <div class="cbox">
                        <ul>
                            <li data-val="65"><img src="/Content/images/country/africa/nanfei.jpg" />南非</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page12">
        <div class="qrcode wow fadeInUp"><img src="/Content/images/page7_qrcode.jpg" /></div>
        <div class="downapp wow fadeInUp">
            <a href="javascript:alert('敬请期待！');" class="btn_down_iphone"></a>
            <a href="http://sj.qq.com/myapp/detail.htm?apkName=cn.com.aixiaoqi" target="_blank" class="btn_down_android"></a>
        </div>
        <div class="iphone wow fadeInUp"><img src="/Content/images/page7_iphone.png" /></div>
    </div>
    <div class="page13">
        <div class="title wow fadeInUp"><img src="/Content/images/page8_title.png" /></div>
        <div class="problemlist">
            <div class="item fl wow fadeInUp">
                <p class="q">爱小器支持哪些设备？</p>
                <p class="a">支持iOS 7.0以上的苹果手机和Android 4.0以上的安卓手机。暂时不支持winphone，黑莓手机。</p>
            </div>
            <div class="item fr wow fadeInUp">
                <p class="q">流量套餐怎么购买？电话，短信相关费用怎么支付？</p>
                <p class="a">下载安装手机App后，在App中用微信，支付宝充值，就可以购买流量套餐。使用电话短信功能了。套餐一般会赠送一定的通话时间，短信数量。如果赠送部分被用完，从账户余额里面扣除。当余额不足时，电话短信功能会停用，不会出现欠费情况。</p>
            </div>
            <div class="item fl wow fadeInUp">
                <p class="q">电话，短信功能要怎么用？手机需要刷机吗？</p>
                <p class="a">电话短信功能是在爱小器的APP完成的，而不是用手机自带的电话、短信App。所以手机不用刷机。</p>
            </div>
            <div class="item fr wow fadeInUp">
                <p class="q">流量套餐的网速如何？</p>
                <p class="a">支持3G/4G网络，单日不限流量套餐包含300M无限速的3G/4G流量，超过300M后网速会很慢。</p>
            </div>
        </div>
    </div>
    <div class="page14">
        <div class="title wow fadeInUp"><img src="/Content/images/page9_title.png" /></div>
        <div class="address wow slideInLeft">
            <div class="item">
                <p class="company">总公司（香港周老集团有限公司）</p>
                地址：香港湾仔骆克道300-306号侨激商业大厦20A<br />
                客服：+852-819-12444
            </div>
            <div class="item">
                <p class="company">深圳分公司（深圳大海网络有限公司）</p>
                地址：深圳市宝安区宝源路华源科技园B座3区615-618<br />
                邮箱：marketing@unitoys.com<br />
                客服QQ：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=5922525&site=qq&menu=yes"><img border="0" src="/content/images/qqshang.png" alt="点击这里给我发消息" title="点击这里给我发消息" /></a><br/>
                QQ交流群：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=a2c74f5ee125a1a28aed01a566bbb864eae4903a2061611770c08dae116b860b"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="爱小器官方群" title="爱小器官方群"></a>
            </div>
        </div>
        <div class="feedback wow slideInRight">
            <label>意见反馈</label>
            <textarea placeholder="请输入您的宝贵建议" id="fb_content"></textarea>
            <label>邮箱</label>
            <input type="text" class="ipt_email" placeholder="请输入您的邮箱" id="fb_email"/>
            <p><input type="button" value="提交 >" class="btn_feedback_submit" /></p>
        </div>
    </div>
    <div class="page15">
        <p>Copyright © 2016 深圳大海网络有限公司</p>
    </div>
</div>